.list-contact {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.list-contact__item:not(:first-child) {
   margin-top: 8px;
}

@media screen and (min-width: 1200px) {
   .list-contact__item:not(:first-child) {
      margin-top: 9px;
   }
}

.list-contact__link {
   @include font(14px, 1.71);
   font-style: normal;

   &_theme_light {
      color: #ffffff;
   }

   &_theme_dark {
      color: rgba(255, 255, 255, 0.6);
   }
}

// @media screen and (max-width: 767px) {
//    .page-footer__list-contact {
//       margin-bottom: 60px;
//    }
// }
