.footer-join {
   width: 206px;

   @media screen and (max-width: 767px) {
      & {
         margin-bottom: 60px;
      }
   }

   &__title {
      @include font;
      display: block;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
   }
}
