.page-footer__list-contact {
   margin-right: 70px;
}

.list-contact__item:not(:first-child) {
   margin-top: 9px;
}

.list-contact__link {
   @include font(14px, 1.71);
   font-style: normal;

   &_theme_light {
      color: #ffffff;
   }

   &_theme_dark {
      color: rgba(255, 255, 255, 0.6);
   }
}
