.page-header {
   border-bottom: 1px solid #ececec;

   & .container {
      display: flex;
      align-items: center;

      @media screen and (max-width: 767px) {
         & {
            justify-content: space-between;
         }
      }
   }

   &__main-nav {
      margin-left: 88px;
   }

   @media screen and (min-width: 1200px) {
      &__main-nav {
         margin-left: 93px;
      }
   }

   &__head-contact {
      margin-left: auto;
   }

   @media screen and (max-width: 767px) {
      &__main-nav {
         display: none;
      }
   }
}
