.page-header {
   border-bottom: 1px solid #ececec;

   & .container {
      display: flex;
      align-items: center;
   }
   
   &__main-nav {
      margin-left: 93px;
   }
   
   &__head-contact {
      margin-left: auto;
   }
}

