.page-footer {
   background-color: var(--color-background);
   padding: 60px 0px;

   @media screen and (min-width: 768px) {
      &__container-tablet {
         display: flex;
         align-items: baseline;
      }
   }
}

.container__flex {
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media screen and (min-width: 1200px) {
   .container__flex {
      flex-direction: row;
      align-items: baseline;
   }
}

.container-adress {
   margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
   .container-adress {
      margin-right: 165px;
   }
}

@media screen and (min-width: 1200px) {
   .container-adress {
      margin-bottom: 0;
      margin-right: 70px;
   }
}
