.section__main-title {
   @include font(26px, 1.62, 0.06em);
   margin-bottom: 30px;

   font-weight: 900;
   text-align: center;
   text-transform: uppercase;

   color: #ffffff;
}

@media screen and (min-width: 1200px) {
   .section__main-title {
      @include font(44px, 1, 36, 0.06em);
   }
}
