.mobile-button {
   border: none;
   padding: 10px 0;
   line-height: 0;
   background-color: transparent;
   @include animate(fill);
  
   &:hover,
   &:focus {
      fill: var(--color-accent);
   }
}

@media  screen and (min-width: 768px) {
   .mobile-button {
      display: none;
   }
}
