.mobile-contacts {
   &__item:not(:last-child) {
      margin-bottom: 32px;
   }

   &__link {
      font-weight: 500;
      @include font(24px, 1.17, 0.02em);
   }

   &__link_size_color {
      @include font(34px, 1.18, 0.02em);
      color: var(--color-accent);
   }
}
