@mixin font($fs: 14px, $lh: 1.14, $ls: 0.03em) {
   font-size: $fs;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin animate($property, $time: 250ms, $cubic: cubic-bezier(0.4, 0, 0.2, 1)) {
   transition: $property $time $cubic;
}