:root {
   --color-title: #212121;
   --color-main: #757575;
   --color-accent: #2196f3;
   --color-background: #2f303a;
}

/* голубой #2196F3 */
/* цвет основоного текста, абзацев #757575 */
/* белые слова #FFFFFF */
/* заголовки и навигация #212121 */
/* Raleway – 700, а для Roboto – 400, 500, 700 и 900 */